<div class="" >
  <div class="jumbotron overlay p-xl-5">
    <h1 class="display-6 text-center">Credits</h1>
    <ol class="list-group">
      <li class="list-group-item text-center">Patient - Alison Butts</li>
      <li class="list-group-item text-center">Nurse - Kimberly Dion, PhD, RN, CNE, CARN</li>
      <li class="list-group-item text-center">Written by Kimberly Dion, PhD, RN, CNE, CARN</li>
      <li class="list-group-item text-center">Application design and programming by <a href="https://johnbugden.com/">John Bugden</a></li>
    </ol>
    <br>
    <h4 class="display-6 text-center"><u>Contact</u></h4>
    <h6 class="display-10 text-center"><p class="text-center"><b>Kimberly Dion, PhD, RN, CNE, CARN</b></p>
      <a class="text-center" href="mailto: kadion@nursing.umass.edu">kadion@nursing.umass.edu</a>
      </h6>
    <hr class="my-4" />
  </div>
</div>
