  <div>
    <div class="jumbotron overlay p-xl-5">
      <h1 class="display-6 text-center">Reflection Questions</h1>
      <ol class="list-group">
        <li class="list-group-item">How did you feel about the patient suspecting they were pregnant and continuing to use
          drugs?</li>
        <li class="list-group-item">What other harm reduction education tips would you provide for the patient?</li>
        <li class="list-group-item">What stage of change does the patient appear to be in at this time? <br> How would you educate the patient if they were one stage prior? One stage later?</li>
        <li class="list-group-item">How would you respond to your colleague if they stated “It’s so unfair that there are so
          many people that want a baby
          and can’t have one, and here is someone who gets pregnant and doesn’t even deserve to have a baby." </li>
        <li class="list-group-item">What trauma informed principles would be used during this interaction?</li>

      </ol>
      <hr class="my-4" />
      <div class="mx-auto row scene-wrapper">
        <button type="button" class="btn btn-primary btn-lg" routerLink="/credits">View Credits and Exit</button>
      </div>
    </div>
  </div>
