<vg-player (onPlayerReady)="onPlayerReady($event)">
  <video [src]="videoSource" type="video/mp4" [vgMedia]="introMedia" #introMedia id="introVideo" preload="auto"></video>
  <div [hidden]="overlayHidden" class="player-overlay">
    <div class="jumbotron overlay p-xl-5">
      <h1 class="display-6 mt-auto text-center">Scenario</h1>
      <hr class="my-auto" />
      <p>
        The nurse is caring for a 22 year old person admitted for an abscess on their forearm. The patient has been
        injecting drugs for the past 2 years and admits to using marijuana, alcohol, heroin, and cocaine. Their forearm
        is red and swollen and they just arrived to the emergency department 45 minutes ago. The CNA reports to you that
        the patient wants to see the nurse. You are about to enter the room to see the patient.
      </p>
      <hr class="my-auto"/>
      <div class="mx-auto mb-auto row scene-wrapper">
        <button type="button" class="btn btn-primary btn-lg" (click)="playVideo()">Enter the Room</button>
      </div>
    </div>
  </div>
</vg-player>