<vg-player (onPlayerReady)="onPlayerReady($event)">
  <video [src]="videoSource" type="video/mp4" [vgMedia]="introMedia" #introMedia id="introVideo" preload="auto"></video>
  <div [hidden]="overlayHidden" class="player-overlay">
    <div class="jumbotron overlay p-xl-5">
      <h1 class="display-6 mt-auto text-center">Scenario</h1>
      <hr class="my-auto" />
      <p>
        Situation- You are caring for a 22 year old female patient admitted for an abscess on their forearm. The patient has
        been injecting drugs for the past 2 years and admits to using marijuana and heroin, and occasionally cocaine and
        alcohol. They have been admitted to the hospital for antibiotic treatment and you are getting ready to complete the
        admission assessment. You have reached the part of the assessment where you are asking about the last menstrual period
        and if the patient is pregnant.
      </p>
      <hr class="my-auto"/>
      <div class="mx-auto mb-auto row scene-wrapper">
        <button type="button" class="btn btn-primary btn-lg" (click)="playVideo()">Enter the Room</button>
      </div>
    </div>
  </div>
</vg-player>
