<div class="jumbotron overlay p-xl-5">
    <h1 class="display-4 text-center">Caring for People Who Use Drugs</h1>
    <hr class="my-auto" />
    <p>
      Explore the various scenarios of each nurse to see how the conversation goes. This scenario and the associated
      statements are based on real stories and experiences provided by people with a lived experience. As you think
      about each response, think about the long term effects that the interaction has not only on the patient, but on
      the nurse and future patients with substance use disorder.
    </p>
    <hr class="my-auto" />
    <p class="lead text-center">Click the button below to begin the scenario</p>
    <hr class="my-1" />
    <div class="mx-auto mb-auto row scene-wrapper">
      <button type="button" class="btn btn-primary btn-lg" routerLink="/introduction">Begin Scenario</button>
    </div>
  </div>
